body {
    font-family: "Arial";
    font-size: 12px;
    line-height: 1;
}

i::before {
    font-size: 20px;
    font-icon: url('../svg/cancel.svg');
    display: block;
}

a::before {
    font-size: 20px;
    font-icon: url('../svg/cog.svg');
    display: block;
}
